@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer utilities {
    .rtl {
        direction: rtl;
    }

    .ltr {
        direction: ltr;
    }

    .vazir {
        font-family: "Vazir", sans-serif;
    }
}

/* --- Peyda Definition --- */
@font-face {
    font-family: 'Peyda';
    src: url('./assets/fonts/PeydaWeb.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
}

@font-face {
    font-family: 'Peyda';
    src: url('./assets/fonts/Peyda Med.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
}

@font-face {
    font-family: 'Peyda';
    src: url('./assets/fonts/PeydaWeb Black.ttf') format('truetype');
    font-weight: 900;
    /* Black */
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/Qs_Iranyekan.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/extrablack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Iranyekan";
    src: url("./assets/fonts/black.ttf") format("truetype");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "Iranyekan", "Peyda", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: rgba(255, 255, 255, 0.87);
    color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --hover: oklch(0.704 0.191 22.216);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --neutral-1: #1a1d1a;
    --neutral-2: #4a4d4a;
    --neutral-3: #8e928e;
    --neutral-4: #e4e4e4;
    --neutral-5: #f9f9fb;
    --neutral-6: #ffffff;
    --primary-1: #5d68e6;
    --primary-2: #717cff;
    --primary-3: #8b95ff;
    --primary-4: #b4baff;
    --primary-5: #e3e6ff;
    --secondary-blue-1: #005fb7;
    --secondary-blue-2: #2691ff;
    --secondary-blue-3: #5daeff;
    --secondary-blue-4: #d1e4ff;
    --secondary-blue-5: #e6f2ff;
    --secondary-green-1: #008080;
    --secondary-green-2: #26a69a;
    --secondary-green-3: #4db6ac;
    --secondary-green-4: #b2dfdb;
    --secondary-green-5: #e0f2f1;
    --success-op1-1: #1b8044;
    --success-op1-2: #34a853;
    --success-op1-3: #66bb6a;
    --success-op1-4: #a5d6a7;
    --success-op1-5: #e8f5e9;
    --success-op2-1: #00735e;
    --success-op2-2: #00a175;
    --success-op2-3: #00cf8b;
    --success-op2-4: #99edd2;
    --success-op2-5: #ccf6e8;
    --danger-1: #b71c1c;
    --danger-2: #e53935;
    --danger-3: #ef5350;
    --danger-4: #ffab91;
    --danger-5: #ffebee;
}

@theme inline {
    --font-peyda: "Peyda", sans-serif;
    --font-iranyekan: "Iranyekan", sans-serif;
    --color-hover: var(--hover);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-hover: var(--hover);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-neutral-1: var(--neutral-1);
    --color-neutral-2: var(--neutral-2);
    --color-neutral-3: var(--neutral-3);
    --color-neutral-4: var(--neutral-4);
    --color-neutral-5: var(--neutral-5);
    --color-neutral-6: var(--neutral-6);

    /* Primary Shades */
    --color-primary-1: var(--primary-1);
    --color-primary-2: var(--primary-2);
    --color-primary-3: var(--primary-3);
    --color-primary-4: var(--primary-4);
    --color-primary-5: var(--primary-5);

    /* Secondary Blue */
    --color-secondary-blue-1: var(--secondary-blue-1);
    --color-secondary-blue-2: var(--secondary-blue-2);
    --color-secondary-blue-3: var(--secondary-blue-3);
    --color-secondary-blue-4: var(--secondary-blue-4);
    --color-secondary-blue-5: var(--secondary-blue-5);

    /* Secondary Green */
    --color-secondary-green-1: var(--secondary-green-1);
    --color-secondary-green-2: var(--secondary-green-2);
    --color-secondary-green-3: var(--secondary-green-3);
    --color-secondary-green-4: var(--secondary-green-4);
    --color-secondary-green-5: var(--secondary-green-5);

    /* Success Option 1 */
    --color-success-op1-1: var(--success-op1-1);
    --color-success-op1-2: var(--success-op1-2);
    --color-success-op1-3: var(--success-op1-3);
    --color-success-op1-4: var(--success-op1-4);
    --color-success-op1-5: var(--success-op1-5);

    /* Success Option 2 */
    --color-success-op2-1: var(--success-op2-1);
    --color-success-op2-2: var(--success-op2-2);
    --color-success-op2-3: var(--success-op2-3);
    --color-success-op2-4: var(--success-op2-4);
    --color-success-op2-5: var(--success-op2-5);

    /* Danger Colors */
    --color-danger-1: var(--danger-1);
    --color-danger-2: var(--danger-2);
    --color-danger-3: var(--danger-3);
    --color-danger-4: var(--danger-4);
    --color-danger-5: var(--danger-5);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --hover: oklch(0.704 0.191 22.216);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.35);
    border-radius: 999px;
}

@layer base {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px var(--color-neutral-6) inset !important;
      -webkit-text-fill-color: var(--color-neutral-1) !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    * {
        @apply border-border outline-ring/50;
    }
}

